.text {
    text-align: center;
    font-size: large;
    font-style: italic;
    font-weight: bold;
    margin: 10px;
}

#container {
    width: 500px;
    height: 500px;
    border: 2px solid black;
    position: relative;
    margin: 0 auto;
}
  
#dvd {
width: 100px;
height: 60px;
position: absolute;
}
 
#dvd2 {
    width: 100px;
    height: 60px;
    position: absolute;
}